# Django settings
DEBUG=True
SECRET_KEY=django-insecure-your-secret-key-change-in-production

# Allowed Hosts: comma-separated list of host/domain names that this Django site can serve
ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0

# Database Configuration
DATABASE_URL=sqlite:///db.sqlite3
